<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema financeiro pessoal</title>
    <link rel="stylesheet" href="/static/style_home.css">
</head>
<body>
    <main>
        <div class="contas-mes">
            <section class="tabelas">
                <h2>Transações</h2>
                <table class="tabela-dados" id="transacoes">
                    <thead>
                        <tr>
                            <th>descrição</th>
                            <th>valor</th>
                            <th>tipo</th>
                            <th>categoria</th>
                            <th>data</th>
                            <th>status</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </section>
        </div>
    </main>

    <script src="/static/home.js"></script>
</body>
</html>
